@model eCommerce.Models.Table.Cliente

@{
    ViewData["Title"] = "Excluindo Cliente";
}

<h1>Excluindo Cliente</h1>

<h3>Você tem certeza que deseja deletar esse item?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPreferencial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPreferencial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPessoaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPessoaNavigation.Nome)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPessoa" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
