@model eCommerce.Models.Table.Cliente

<div class="form-group">
    <input type="hidden" asp-for="IdPessoaNavigation.IdPessoa" />
    <label class="control-label" asp-for="IdPessoaNavigation.Nome"> </label>
    <input asp-for="IdPessoaNavigation.Nome" class="form-control" />
    <span asp-validation-for="IdPessoaNavigation.Nome" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="control-label" asp-for="IdPessoaNavigation.Email"> </label>
    <input asp-for="IdPessoaNavigation.Email" class="form-control" />
    <span asp-validation-for="IdPessoaNavigation.Email" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="hidden" asp-for="IdPessoaNavigation.CpfCnpj" />
    <label class="control-label" asp-for="IdPessoaNavigation.CpfCnpj">CNPJ</label>
    <input type="text" id="Cnpj" name="Cnpj" class="form-control" />
</div>
<div class="form-group">
    <input type="hidden" asp-for="IdPessoaNavigation.PessoaJuridica.IdPessoa" />
    <label class="control-label" asp-for="IdPessoaNavigation.PessoaJuridica.NomeFantasia">Nome Fantasia</label>
    <input asp-for="IdPessoaNavigation.PessoaJuridica.NomeFantasia" class="form-control" />
</div>
<div class="form-group">
    <label class="control-label" asp-for="IdPessoaNavigation.PessoaJuridica.InscricaoEstadual">Inscrição Estadual</label>
    <input asp-for="IdPessoaNavigation.PessoaJuridica.InscricaoEstadual" class="form-control" />
</div>